[data-theme="dark"] {
  --bg-color: #0C0C0F;
  --text-color: #DBDBDB;
  --header-language-color: #414042;
  --wheel-color: #17171D;
  --h1-main-color: #DBDBDB;
  --block-main-bg-color: #131316;
  --roulette-button-bg-color: #17171D;
  --modal-city-color: #17171D;
  --button-main-text-color: #DBDBDB;
  --modal-border-color: #{rgba(#587AFF, 0.4)};
  --arrow-color: #DBDBDB;
}
