[data-theme="light"] {
  --bg-color: #F9F9FB;
  --text-color: #383838;
  --header-language-color: #DBDBDB;
  --wheel-color: #F4F4F4;
  --h1-main-color: #383838;
  --block-main-bg-color: #FFFFFF;
  --roulette-button-bg-color: #F4F4F4;
  --button-main-text-color: #464646;
  --arrow-color: #464646;
}